<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBasket</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header class="header">
        <div class="my-container">
            <div class="topbar">
                <div class="auth-links">
                    <a asp-controller="Account" asp-action="register">Đăng Ký</a>
                    <span>|</span>
                    <a asp-controller="Account" asp-action="Login" >Đăng Nhập</a>
                </div>
            </div>

            <div class="main-header">
                <div class="logo">
                    <div class="logo-box">G</div>
                    <div class="logo-text">GreenBasket</div>
                </div>

                <div class="search-area">
                    <input type="text" placeholder="Tìm kiếm sản phẩm..." />
                    <button>Tìm</button>
                </div>
            </div>
        </div>
    </header>
    <div>

    </div>
</body>
</html>